body{
    font-family: sans-serif;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 82%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.itemsdiv{
    border: 2px solid black;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    width: 55%;
    padding: 10px;
    border-radius: 15px;
}
.todoHeading{
    color: black;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}
.inputbtndiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
}
.inputbtndiv input{
    width: 380px;
    font-size:20px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
    color: black;
}
.inputbtndiv input:focus{
   outline: none;
}
.inputbtndiv input::placeholder{
    color: black;
}
.inputbtndiv input:focus::placeholder{
   color: rgb(202, 2, 2);
   padding-left: 7px;
   transition: all 0.5s;
}
.btndiv{
    display: flex;
    gap: 10px;
}
.btndiv button{
    border: none;
    padding: 10px;
    width: 130px;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(232, 12, 12) 0%,rgb(202, 2, 2) 82%);
    color: white;
    cursor: pointer;
}
.btndiv button:hover{
    font-weight: bold;
    transform: scale(1.03);
}
.listdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ul li{
    background: rgb(236, 235, 235);
    color: black;
    list-style: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    width: 85%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2%;
    margin-top: 3%;
}
#ul li button{
    border: none;
    padding: 10px;
    width: 130px;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(232, 12, 12) 0%,rgb(202, 2, 2) 82%);
    color: white;
    cursor: pointer;
}
#ul li button:hover{
    font-weight: bold;
    transform: scale(1.03);
}
/* check & uncheck */
ul li{
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Images/uncheck.png);
    background-size: cover;
    background-position:center ;
    top: 22px;
    left: 10px;
}
ul li.checked::before{
    background-image: url(Images/check-removebg-preview.png);
}
/* check & uncheck */
#copyright{
    color: black;
    text-align: center;
}
/* edit input */
#editInput::placeholder{
    color: rgb(202, 2, 2);
    font-weight: bold;
    padding-left: 5px;
    transition: all 0.5s;
}

/* RESPONSIVENESS START */

@media (max-width:1024px) {
    .itemsdiv{
        width: 100%;
        margin-top: 10%;
    }
}
@media (max-width:669px){
    .itemsdiv{
        margin-top: 7%;
    }
    .inputbtndiv input{
        margin-bottom: 5%;
    }
    #ul li{
        width:100% ;
        margin-left: -6%;
    }
}
@media (max-width:669px){
    .btndiv button{
        width: 100px;
        font-size: 15px;
    }
    #ul li button{
        width: 100px;
        font-size: 15px;
    }
}
@media (max-width:412px){
    .todoHeading{
        font-size: 20px;
    }
    .itemsdiv{
        margin-top: 14%;
    }
    #ul li{
        width:100% ;
        margin-left: -10%;
        font-size: 15px;
    }
    .btndiv button{
       margin-bottom: 5%;
    }
}
/* RESPONSIVENESS END */