body{
    font-family: sans-serif;
    background-color: #222831;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.todoHeading{
    color: white;
    width: 35%;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}
.itemsdiv{
    border: 2px solid black;
    background-color: white;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
}
.inputdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputdiv input{
    margin-top: 3%;
    width: 50%;
    padding: 17px;
    font-size:20px;
    border-radius: 10px;
    background-color: #1c2129;
    color: white;
    border: 2px solid white;
}
.inputdiv input:focus{
   outline: none;
}
.inputdiv input::placeholder{
    color: white;
}
.inputdiv input:focus::placeholder{
   padding-left: 7px;
   transition: all 0.5s;
}
.inputdiv button{
    width: 17%;
    height: 60px;
    margin-top: 3%;
    font-size: 20px;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #1c2129;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.5s;
}
.inputdiv button:hover{
    background-color: white;
    border: 2px solid #222831;
    color: #222831;
    transition: all 0.5s;
}
.listdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ul li{
    border: 2px solid white;
    background: #1c2129;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    width: 85%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2%;
    margin-top: 3%;
}
#ul li button{
    border-radius: 10px;
    background-color: #1c2129;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: large;
    padding: 5px;
    width: 20%;
    transition: all 0.5s;
}
#ul li button:hover{
    background-color: white;
    color: #222831;
    transition: all 0.5s;
}
#copyright{
    color: white;
}